.title {
    font-weight: bold;

}
.icon {
    display: none;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;

    .icon {
        padding-left: 0.2em;
        display: inline;
    }
}

.tags {
    display: flex;
    gap: 1em;
}