<form [formGroup]="form" class="card-form">
  <div class="field">
    <label for="title">Title</label>
    <input
      type="text"
      pInputText
      inputId="title"
      formControlName="title"
      placeholder="Title"
    />
    <small
      *ngIf="
        form.get('title')?.touched && form.get('title')?.hasError('required')
      "
      severity="error"
      class="p-error"
    >
      Title is required.
    </small>
  </div>

  <div class="field">
    <label for="description">Description</label>
    <p-editor
      formControlName="description"
      [style]="{ height: '320px' }"
      placeholder="Description"
    />
  </div>

  <div class="actions">
    <p-button
      type="button"
      label="Reset"
      severity="secondary"
      (onClick)="onReset()"
    />
    <p-button
      type="button"
      label="Save"
      severity="success"
      [disabled]="!form.valid"
      (onClick)="onSubmit()"
    />
  </div>
</form>
