.card-form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .field {
        width: 100%;
        display: flex;
        gap: 0.2em;
        flex-direction: column;
    }

    .actions {
        margin-top: 1em;
        display: flex;
        gap: 1em;
        justify-content: flex-end;
    }
}