<div class="card">
  <p class="title" (click)="sidebarVisible = true">
    {{ card.title }} <i class="pi pi-external-link icon"></i>
  </p>
  <p>
    {{ card.description | slice: 0 : 44
    }}{{ card.description.length > 44 ? "..." : null }}
  </p>
  <p class="tags">
    <p-chip
      *ngFor="let tag of card.tags"
      [label]="tag.name"
      [style]="{ color: tag.color }"
    />
  </p>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right">
  <app-card-detail [card]="card" />
</p-sidebar>
