<form [formGroup]="form" class="tag-form">
  <div class="field">
    <label for="name">Name</label>
    <input
      type="text"
      pInputText
      inputId="name"
      formControlName="name"
      placeholder="Name"
    />
    <small
      *ngIf="
        form.get('name')?.touched && form.get('name')?.hasError('required')
      "
      severity="error"
      class="p-error"
      >Name is required.
    </small>
  </div>

  <div class="field">
    <label for="color">Color</label>
    <div class="field-inline">
      <p-colorPicker
        formControlName="color"
        inputId="color"
        [ngModel]="form.get('color')?.value"
      />
      <input
        type="text"
        pInputText
        formControlName="color"
        [value]="form.get('color')?.value"
      />
    </div>
  </div>

  <div class="field">
    <label for="description">Description</label>
    <textarea
      pInputTextarea
      rows="5"
      cols="30"
      placeholder="Description"
      inputId="description"
      formControlName="description"
    >
    </textarea>
  </div>

  <div class="actions">
    <p-button
      type="button"
      label="Reset"
      severity="secondary"
      (onClick)="onReset()"
    />
    <p-button
      type="button"
      label="Save"
      severity="success"
      [disabled]="!form.valid"
      (onClick)="onSubmit()"
    />
  </div>
</form>
